n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "validCurrencies",
              "value": "[\"USD\", \"EUR\", \"GBP\", \"JPY\", \"CAD\", \"AUD\", \"RSD\", \"BAM\", \"HRK\"]",
              "type": "array"
            },
            {
              "id": "id-2",
              "name": "minAmount",
              "value": 0,
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "user_id",
              "value": "={{ $json.user_id }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "user_email",
              "value": "={{ $json.user_email }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "file_url",
              "value": "={{ $json.file_url }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "filename",
              "value": "={{ $json.filename }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "87f87024-d899-42dc-99b2-4d79da5a768e",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-4304, 4504]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Invoice_File",
        "options": {
          "keepSource": "both"
        }
      },
      "id": "e6052a18-75c6-430e-b26d-4c85a2afb2f1",
      "name": "Extract Invoice Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [-3632, 4408]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an invoice data extraction assistant. Extract the following fields from the invoice text:\n\n- invoiceNumber: The invoice number\n- invoiceDate: The invoice date in YYYY-MM-DD format\n- vendorName: The vendor or supplier name\n- totalAmount: The total amount as a number (without currency symbol)\n- currency: The currency CODE (e.g., USD, EUR, GBP, RSD, BAM) - NOT the symbol\n- lineItems: Array of line items with description and amount\n\nCRITICAL: For currency field, you MUST return the 3-letter currency CODE (USD, EUR, GBP, RSD, BAM, etc.), NOT the currency symbol ($, €, £). Extract the code from context or convert symbols to codes.\n\nReturn the data in the exact JSON schema format specified by the output parser."
        }
      },
      "id": "7150349d-1e63-49cd-ab5a-0b982e60d95f",
      "name": "Extract Invoice Data",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [-3408, 4504]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "0d58fd9b-426c-4a1c-a3fc-e36160d6df7a",
      "name": "OpenAI GPT-4.1-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-3440, 4736],
      "credentials": {
        "openAiApi": {
          "id": "COc6ORFdRFkMUySS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"invoiceNumber\": {\"type\": \"string\"},\n    \"invoiceDate\": {\"type\": \"string\"},\n    \"vendorName\": {\"type\": \"string\"},\n    \"totalAmount\": {\"type\": \"number\"},\n    \"currency\": {\"type\": \"string\"},\n    \"lineItems\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"description\": {\"type\": \"string\"},\n          \"amount\": {\"type\": \"number\"}\n        }\n      }\n    }\n  },\n  \"required\": [\"invoiceNumber\", \"invoiceDate\", \"vendorName\", \"totalAmount\", \"currency\"]\n}"
      },
      "id": "7eb01b66-fccb-4a31-917f-0470baeaf03a",
      "name": "Invoice JSON Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-3272, 4728]
    },
    {
      "parameters": {
        "jsCode": "const invoiceData = $input.first().json.output || $input.first().json;\nconst config = $('Workflow Configuration').first().json;\nconst errors = [];\n\nconst dateRegex = /^\\d{4}-\\d{2}-\\d{2}$/;\nconst invoiceDate = String(invoiceData.invoiceDate || '').trim();\n\nif (!dateRegex.test(invoiceDate)) {\n  errors.push('Invoice date must be in YYYY-MM-DD format');\n}\n\nconst currency = String(invoiceData.currency || '').trim().toUpperCase();\nif (!config.validCurrencies.includes(currency)) {\n  errors.push(`Currency must be one of: ${config.validCurrencies.join(', ')}`);\n}\n\nif (invoiceData.totalAmount <= config.minAmount) {\n  errors.push('Total amount must be greater than zero');\n}\n\nreturn {\n  ...invoiceData,\n  currency: currency,\n  isValid: errors.length === 0,\n  validationErrors: errors,\n  user_id: config.user_id,\n  userEmail: config.user_email,\n  file_url: config.file_url,\n  filename: config.filename\n};"
      },
      "id": "d0e4ca95-95ad-4ed0-8682-7e5b0b10e8be",
      "name": "Validate Invoice Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-3056, 4504]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Validate Invoice Data').item.json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "773950a9-bd60-47d8-81ef-15fe9a23ba42",
      "name": "Check Validation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-2832, 4504]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sendTo": "={{ $json.userEmail }}",
        "subject": "Invoice Validation Failed",
        "message": "=<h2>Invoice Validation Failed</h2><p>Your invoice submission could not be processed due to the following validation errors:</p><ul>{{ $json.validationErrors.map(err => `<li>${err}</li>`).join(\"\") }}</ul><p>Please correct these issues and resubmit your invoice.</p>",
        "options": {}
      },
      "id": "8c12e4d3-2de4-44e2-83fb-303946b9e8b6",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-2608, 4600],
      "credentials": {
        "googleApi": {
          "id": "22xhSzSAa2yodmXV",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "sendTo": "={{ $json.userEmail }}",
        "subject": "Invoice Successfully Processed",
        "message": "=<h2>Invoice Successfully Processed</h2><p>Your invoice has been successfully validated and stored.</p><ul><li>Invoice Number: {{ $json.invoiceNumber }}</li><li>Date: {{ $json.invoiceDate }}</li><li>Vendor: {{ $json.vendorName }}</li><li>Amount: {{ $json.totalAmount }} {{ $json.currency }}</li></ul>",
        "options": {}
      },
      "id": "122da09f-40cf-4be2-a71b-394c73a2279c",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-2160, 4408],
      "credentials": {
        "googleApi": {
          "id": "22xhSzSAa2yodmXV",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-1",
                    "leftValue": "={{ $json['Invoice_File'].mimetype }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "id-1",
                    "leftValue": "={{ $json['Invoice_File'].mimetype }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "d5136ffb-cb56-4f4c-879e-d46476a1713a",
      "name": "Check File Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [-4080, 4488]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "text": "Extract all text and data from this invoice image. Return the complete invoice content including invoice number, date, vendor name, line items, amounts, and currency.",
        "inputType": "base64",
        "binaryPropertyName": "Invoice_File",
        "options": {
          "maxTokens": 2000
        }
      },
      "id": "86ccabab-2092-4779-86b2-63ead12122ab",
      "name": "Extract from Image (Vision)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [-3856, 4600],
      "credentials": {
        "openAiApi": {
          "id": "COc6ORFdRFkMUySS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "text",
              "value": "={{ $json[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "969f2cad-a5fc-4e9f-848e-5b88df045c45",
      "name": "Format Vision Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-3632, 4600]
    },
    {
      "parameters": {
        "path": "1265e465-0c04-4691-9bb3-77c9eacfadcf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-4656, 4544],
      "id": "c113cfe7-375f-4c9e-bc2c-545c6ad6dffe",
      "name": "Webhook",
      "webhookId": "1265e465-0c04-4691-9bb3-77c9eacfadcf"
    },
    {
      "parameters": {
        "tableId": "invoices",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "invoice_number",
              "fieldValue": "={{ $json.invoiceNumber }}"
            },
            {
              "fieldId": "invoice_date",
              "fieldValue": "={{ $json.invoiceDate }}"
            },
            {
              "fieldId": "vendor_name",
              "fieldValue": "={{ $json.vendorName }}"
            },
            {
              "fieldId": "total_amount",
              "fieldValue": "={{ $json.totalAmount }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $json.currency }}"
            },
            {
              "fieldId": "line_items",
              "fieldValue": "={{ JSON.stringify($json.lineItems) }}"
            },
            {
              "fieldId": "user_email",
              "fieldValue": "={{ $json.userEmail }}"
            },
            {
              "fieldId": "file_url",
              "fieldValue": "={{ $json.file_url }}"
            },
            {
              "fieldId": "file_type",
              "fieldValue": "={{ $json.filename ? $json.filename.split('.').pop() : 'pdf' }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "processed"
            }
          ]
        }
      },
      "id": "8dbaa6c0-16fb-466e-9c19-6e7effcb0d4b",
      "name": "Store Invoice in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [-2384, 4408],
      "credentials": {
        "supabaseApi": {
          "id": "Qut4R3W5WoZ5p9Ov",
          "name": "Supabase account 4"
        }
      }
    }
  ],
  "connections": {
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Check File Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Invoice Text": {
      "main": [
        [
          {
            "node": "Extract Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Invoice Data": {
      "main": [
        [
          {
            "node": "Validate Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Invoice Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Invoice JSON Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Invoice Data",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Validate Invoice Data": {
      "main": [
        [
          {
            "node": "Check Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Validation": {
      "main": [
        [
          {
            "node": "Store Invoice in Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Type": {
      "main": [
        [
          {
            "node": "Extract Invoice Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Image (Vision)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Image (Vision)": {
      "main": [
        [
          {
            "node": "Format Vision Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Vision Output": {
      "main": [
        [
          {
            "node": "Extract Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Invoice in Supabase": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3513a90a42d1756bf51e455cb07d58f50e0b75353a4fbc3154e2325dd73ed868"
  }
}
